# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/kelvin_ntc.X/debug
/kelvin_ntc.X/build
/kelvin_ntc.X/html
/eagle/smd/*.b#7
/eagle/smd/*.b#8
/eagle/smd/*.b#9
/eagle/smd/*.s#1
/eagle/smd/*.s#2
/eagle/smd/*.s#3
/eagle/smd/*.s#4
/eagle/smd/*.s#5
/eagle/smd/*.s#6
/eagle/smd/*.s#8
/eagle/smd/*.s#9
/eagle/smd/*.b#5
/eagle/smd/*.b#6
/eagle/smd/kelvin_ntc_a.s#3
/eagle/smd/kelvin_ntc_a.s#4
/eagle/smd/kelvin_ntc_a.s#5
/eagle/smd/kelvin_ntc_a.s#6
/eagle/smd/kelvin_ntc_a.s#8
/eagle/smd/kelvin_ntc_a.s#9
/eagle/smd/kelvin_ntc_B.b#2
/eagle/smd/kelvin_ntc_B.b#3
/eagle/smd/kelvin_ntc_B.b#4
/eagle/smd/kelvin_ntc_a.s#1
/eagle/smd/kelvin_ntc_a.s#2
/eagle/smd/*.b#2
/eagle/smd/*.b#3
/eagle/smd/*.b#4
/kelvin_ntc.X/dist/Relocated/debug/*.cmf
/kelvin_ntc.X/dist/Relocated/debug/*.hxl
/kelvin_ntc.X/dist/Relocated/debug/*.lst
/kelvin_ntc.X/dist/Relocated/debug/*.map
/kelvin_ntc.X/dist/Relocated/debug/*.rlf
/kelvin_ntc.X/dist/Relocated/debug/*.sdb
/kelvin_ntc.X/dist/Relocated/debug/*.sym
